body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

header {
  background: linear-gradient(
    to top,
    #8cc7f5,
    #d8f7c6
  ); /* Einfacher linearer Farbverlauf mal zum Testen */
  color: black;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 70px;
}

.content_container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 130px;
  margin-bottom: 200px;
}

.question-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 30px 0;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

h2 {
  display: flex;
  justify-content: center;
}

.bookmark-button {
  position: absolute; /* Absolute Positionierung innerhalb des Containers */
  top: 15px; /* Abstand vom oberen Rand des Containers */
  right: 15px; /* Abstand vom rechten Rand des Containers */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.bookmark-button i {
  color: #74c0fc;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.tag {
  background-color: #eee;
  border-radius: 3px;
  padding: 5px;
  margin-right: 5px;
}

.show-answer {
  align-self: center; /* Startet den Button links innerhalb des Flex-Containers */
  margin-top: 10px; /* Abstand nach oben */
  padding: 10px 20px; /* Vergrößert den Innenabstand für mehr Fläche */
  font-size: 18px;
  border: none;
  background-color: #d8f7c6;
  color: black;
  cursor: pointer;
  border-radius: 50px;
}

.answer {
  margin-top: 10px;
  display: none;
}

.show-answer:hover + .answer {
  display: block;
}

footer {
  background: gainsboro;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

footer nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 60px;
}

footer nav ul li {
  display: flex;
  align-items: center;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
}

footer nav ul li a .fa-2xl {
  font-size: 2.5em; /* Icon-Größe anpassen */
}
