:root {
  --primary-color: #74c0fc;
  --secondary-color: gainsboro;
  --cards-backround-color: #f9f9f9;
  --tags-background-color: #eee;
  --cards-border-color: #ddd;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --text-color: black;
  --font-family: Arial, sans-serif;
}
