.bookmark-button {
  position: absolute; /* Absolute Positionierung innerhalb des Containers */
  top: 15px; /* Abstand vom oberen Rand des Containers */
  right: 15px; /* Abstand vom rechten Rand des Containers */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.bookmark-button i {
  color: var(--primary-color);
}

.show-answer {
  align-self: center; /* Startet den Button links innerhalb des Flex-Containers */
  margin-top: 10px; /* Abstand nach oben */
  padding: 10px 20px; /* Vergrößert den Innenabstand für mehr Fläche */
  font-size: 18px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 50px;
}
