header {
  background-color: var(--primary-color);
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 70px;
}

.dark-mode header {
  background-color: #222; /* Dunkler Hintergrund für den Header im Dark Mode */
  color: #eee; /* Heller Text für den Header im Dark Mode */
}
