.settings {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* Dark Mode Stile */
body.dark-mode {
  background-color: #121212;
  color: white;
}

/* Beispiel für spezifische Anpassungen im Dark Mode */
.header.dark-mode {
  background-color: #1e1e1e;
}
