.settings {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* Dark Mode Stile */
body.dark-mode {
  background-color: #3d3c3c;
  color: white;
}

.dark-mode .question-card {
  background-color: #333; /* Dunkler Hintergrund im Dark Mode */
  color: #eee; /* Heller Text im Dark Mode */
  border: 1px solid #555; /* Dunklerer Rahmen im Dark Mode */
}
