.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.tag {
  background-color: var(--tags-background-color);
  border-radius: 3px;
  padding: 5px;
  margin-right: 5px;
}

.dark-mode .tag {
  background-color: #555; /* Dunklerer Hintergrund für Tags im Dark Mode */
  color: #ddd; /* Hellerer Text für Tags im Dark Mode */
}
